.chat-bot{

    position: fixed;
    bottom:0px;
    display: none;
}
.chat-bot .cb-header{

    background: teal;
    background-color: #FBFBFB;  
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
    height: 45px;
    display: block;
    line-height: 45px;
    padding: 0 5px;
}
.chat-bot .cb-header .cbh-info{

    float: left;
}
.chat-bot .cb-header .cbh-action{

    float: right;
}
.chat-bot .cb-header .cbh-info img{

    width: 30px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    border:1px solid #ddd;
}
.chat-bot .cb-header .cbh-info span{

    color: #000000; 
    font-family: "Open Sans";   
    font-size: 13px;    
    font-weight: bold;
}
.chat-bot .cb-header .cbh-action span{

    margin-right: 5px;
    cursor: pointer;
}
.chat-bot .cb-header .cbh-action span i{

    font-weight: 700;
    opacity: 0.5;
}
.chat-bot .cb-header .cbh-action span:last-child{

    margin-right: 0px;
}
.chat-bot .cb-header .cbh-action .cb-min .mdi-window-maximize, 
.chat-bot .cb-header .cbh-action .cb-min.minimise .mdi-window-minimize{

    display: none;
}
.chat-bot .cb-header .cbh-action .cb-min.minimise .mdi-window-maximize, 
.chat-bot .cb-header .cbh-action .cb-min .mdi-window-minimize{

    display: inline-block;
}
.chat-bot.min{

    max-height: 50px;
    min-height: 25px;
    width: 135px;
    border:none;
    box-shadow: 0;
}
.chat-bot.min .cb-header{

    display: none;
}
.chat-bot{

    max-height: 400px;
    width: 275px;
    border: 1px solid #BEBEBE;  
    background-color: #F0F3F6;
    box-shadow: 0 13px 13px 0 rgba(0,0,0,0.29);
}
.chat-bot.min .min-header{

    width: 135px;
    display: block;
    height: 25px;
    cursor: pointer;
    border-radius: 6px 6px 0 0 ;
    background-color: #333333;
}
.chat-bot.min .min-header .cb-icon{

    width: 20px;
    text-align: center;
    float: left;
    padding: 0 5px;
    line-height: 25px;
    border-radius: 6px 0px 0 0;
    background: #666;
}
.chat-bot.min .min-header .cb-icon i{

    vertical-align: middle;
    color: #FFFFFF;
    font-size: 11px;
}
.chat-bot.min .min-header .cb-txt{

    color: #FFFFFF; 
    font-family: "Open Sans";   
    font-size: 11px;  
    margin-left: 12px;
    line-height: 28px;  
    font-weight: 600;
}
.chat-bot .min-header{

    display: none;
}
.chat-bot.min .chat-content{

    display: none;
}
.chat-bot .chat-content{

    width: 100%;
    display: block;
    height: 355px;
    overflow: hidden;
    overflow-y: auto;
}
.chat-content .chat-txt{

    width: 100%;
    margin: 8px auto;
    display: inline-block;
    position: relative;
}
.chat-content .chat-txt img{

    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    border: 1px solid #ddd;
}
.chat-content .chat-txt.bot img{

    left: 5px;
}
.chat-content .chat-txt.user img{

    right: 5px;
}
.chat-content .chat-txt.user .white-bubble{

    float: right;
    margin-right: 45px;
}
.chat-content .chat-txt .white-bubble{

    overflow-wrap: break-word;
    width: calc(100% - 65px);
    display: inline-block;
    width: -webkit-calc(100% - 65px);
    width: -moz-calc(100% - 65px);
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 5px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 12px;
    line-height: 17px;
}
.chat-content .chat-txt.bot .white-bubble{

    margin-left: 45px;
    float: left;
}
.chat-content .purple-bubble, .chat-content .p-action{

    border-radius: 5px;  
    background-color: #928BAB;
    overflow-wrap: break-word;
    margin-left: 45px;
    cursor: pointer;
    color: #FFFFFF; 
    padding: 8px 5px;
    text-align: center;
    font-family: "Open Sans";   
    font-size: 12px;
    width: calc(100% - 65px);
    display: inline-block;
    width: -webkit-calc(100% - 65px);
    width: -moz-calc(100% - 65px);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}
.chat-content .cb-login{

    width: 100%;
    margin-top: 20px;
    text-align: left;
}
.chat-content .cb-login .cb-name, .chat-content .cb-login .cb-pswd{

    border: 1px solid #ddd;
    background: #fff;
    border-radius: 5px;
    width: 94%;
    position: relative;
    margin: 0 auto 10px;
}
.chat-content .cb-login input{

    height: 35px;
    box-shadow: none;
    color: #666;
    width: 98%;
    padding-left: 2%;
    font-size: 14px;
    outline: 0;
    border: none;
    background: transparent;
}
.chat-content .cb-login .cbh-login, .chat-content .cb-login .cbh-signup{

    position: absolute;
    right: 3px;
    top: 3px;

    width: 25%;
    cursor: pointer;
    border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 12px;
    text-transform: uppercase;
    padding: 6px 0;
    border: 1px solid #614E85;
    font-weight: bold;
    background: linear-gradient(90deg, #614E85 0%, #513D87 100%);
    background: -webkit-linear-gradient(90deg, #614E85 0%, #513D87 100%);
    background: -moz-linear-gradient(90deg, #614E85 0%, #513D87 100%);
}
.chat-content .cb-login .cbh-login:hover, .chat-content .cb-login .cbh-signup:hover{

    opacity: 0.6;
}